In [3]:
import pandas as pd
from datetime import date, datetime

## From IEX Data

In [4]:
from iexfinance.stocks import get_historical_data

startdate = datetime(2015, 1, 1)
enddate = date.today()
iex_aapl = get_historical_data('AAPL', startdate, enddate, output_format='pandas')

iex_aapl.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015-01-02</th>
      <td>103.4410</td>
      <td>103.4874</td>
      <td>99.6893</td>
      <td>101.5280</td>
      <td>53204626</td>
    </tr>
    <tr>
      <th>2015-01-05</th>
      <td>100.5622</td>
      <td>100.8965</td>
      <td>97.8877</td>
      <td>98.6678</td>
      <td>64285491</td>
    </tr>
    <tr>
      <th>2015-01-06</th>
      <td>98.9371</td>
      <td>99.7636</td>
      <td>97.1634</td>
      <td>98.6771</td>
      <td>65797116</td>
    </tr>
    <tr>
      <th>2015-01-07</th>
      <td>99.5500</td>
      <td>100.4786</td>
      <td>99.0810</td>
      <td>100.0607</td>
      <td>40105934</td>
    </tr>
    <tr>
      <th>2015-01-08</th>
      <td>101.4351</td>
      <td>104.1468</td>
      <td>100.9429</td>
      <td>103.9053</td>
      <td>59364547</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
def get_iex_dict(symbol_list, startdate):
    """Get dictionary of dataframes from IEX"""
    dict_list = dict()
    startdate = datetime.strptime(startdate, '%Y-%m-%d')
    for symbol in symbol_list:
        df = get_historical_data(symbol, startdate, date.today(), output_format='pandas')
        dict_list[symbol] = df
    return dict_list

symbol_list = ['AAPL', 'AMZN', 'NFLX', 'INTC', 'SPY', 'QQQ']
iex_dict = get_iex_dict(symbol_list, '2015-01-01')
iex_dict['AMZN'].tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-04-12</th>
      <td>1848.40</td>
      <td>1851.50</td>
      <td>1841.30</td>
      <td>1843.06</td>
      <td>3114413</td>
    </tr>
    <tr>
      <th>2019-04-15</th>
      <td>1842.00</td>
      <td>1846.85</td>
      <td>1818.90</td>
      <td>1844.87</td>
      <td>3724423</td>
    </tr>
    <tr>
      <th>2019-04-16</th>
      <td>1851.35</td>
      <td>1869.77</td>
      <td>1848.00</td>
      <td>1863.04</td>
      <td>3044618</td>
    </tr>
    <tr>
      <th>2019-04-17</th>
      <td>1872.99</td>
      <td>1876.47</td>
      <td>1860.44</td>
      <td>1864.82</td>
      <td>2893517</td>
    </tr>
    <tr>
      <th>2019-04-18</th>
      <td>1868.79</td>
      <td>1870.82</td>
      <td>1859.48</td>
      <td>1861.69</td>
      <td>2749882</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
from datetime import datetime
from iexfinance.stocks import get_historical_intraday

date = datetime(2019, 4, 1)
iex_aapl_itd = get_historical_intraday("AAPL", date, output_format='pandas')
print(iex_aapl_itd.tail(15))

                     average  changeOverTime    close      date     high  \
2019-04-01 15:45:00  191.095       -0.000492  191.140  20190401  191.140
2019-04-01 15:46:00  191.138       -0.000267  191.130  20190401  191.160
2019-04-01 15:47:00  191.063       -0.000659  191.015  20190401  191.140
2019-04-01 15:48:00  190.968       -0.001156  190.960  20190401  191.030
2019-04-01 15:49:00  191.013       -0.000921  191.050  20190401  191.065
2019-04-01 15:50:00  191.051       -0.000722  191.060  20190401  191.080
2019-04-01 15:51:00  191.052       -0.000717  191.050  20190401  191.070
2019-04-01 15:52:00  191.083       -0.000554  191.080  20190401  191.110
2019-04-01 15:53:00  191.103       -0.000450  191.135  20190401  191.140
2019-04-01 15:54:00  191.179       -0.000052  191.160  20190401  191.210
2019-04-01 15:55:00  191.291        0.000534  191.320  20190401  191.390
2019-04-01 15:56:00  191.262        0.000382  191.290  20190401  191.330
2019-04-01 15:57:00  191.279        0.000471  191.225  20190401  191.360
2019-04-01 15:58:00  191.223        0.000178  191.170  20190401  191.260
2019-04-01 15:59:00  191.136       -0.000277  191.260  20190401  191.260

                       label      low  marketAverage  marketChangeOverTime  \
2019-04-01 15:45:00  3:45 PM  191.050        191.091             -0.001677
2019-04-01 15:46:00  3:46 PM  191.110        191.142             -0.001411
2019-04-01 15:47:00  3:47 PM  191.010        191.075             -0.001761
2019-04-01 15:48:00  3:48 PM  190.935        190.973             -0.002293
2019-04-01 15:49:00  3:49 PM  190.970        191.019             -0.002053
2019-04-01 15:50:00  3:50 PM  191.030        191.055             -0.001865
2019-04-01 15:51:00  3:51 PM  191.040        191.054             -0.001870
2019-04-01 15:52:00  3:52 PM  191.055        191.085             -0.001708
2019-04-01 15:53:00  3:53 PM  191.070        191.108             -0.001588
2019-04-01 15:54:00  3:54 PM  191.140        191.177             -0.001228
2019-04-01 15:55:00  3:55 PM  191.235        191.306             -0.000554
2019-04-01 15:56:00  3:56 PM  191.220        191.267             -0.000758
2019-04-01 15:57:00  3:57 PM  191.210        191.282             -0.000679
2019-04-01 15:58:00  3:58 PM  191.155        191.220             -0.001003
2019-04-01 15:59:00  3:59 PM  191.030        191.145             -0.001395

                     marketClose  marketHigh  marketLow  marketNotional  \
2019-04-01 15:45:00      191.135     191.140    191.045    7.769393e+06
2019-04-01 15:46:00      191.145     191.170    191.100    1.638431e+07
2019-04-01 15:47:00      191.015     191.150    191.010    1.252805e+07
2019-04-01 15:48:00      190.950     191.039    190.930    1.385398e+07
2019-04-01 15:49:00      191.060     191.070    190.954    1.004342e+07
2019-04-01 15:50:00      191.070     191.080    191.020    8.224913e+06
2019-04-01 15:51:00      191.051     191.080    191.019    1.488003e+07
2019-04-01 15:52:00      191.070     191.110    191.050    9.471518e+06
2019-04-01 15:53:00      191.123     191.146    191.070    9.869397e+06
2019-04-01 15:54:00      191.160     191.210    191.130    2.163126e+07
2019-04-01 15:55:00      191.340     191.460    191.160    6.032415e+07
2019-04-01 15:56:00      191.305     191.340    191.200    2.323687e+07
2019-04-01 15:57:00      191.230     191.360    191.210    2.854047e+07
2019-04-01 15:58:00      191.180     191.260    191.155    2.480048e+07
2019-04-01 15:59:00      191.240     191.290    191.030    9.185232e+07

                     marketNumberOfTrades  marketOpen  marketVolume  \
2019-04-01 15:45:00                   263     191.080         40658
2019-04-01 15:46:00                   471     191.135         85718
2019-04-01 15:47:00                   382     191.150         65566
2019-04-01 15:48:00                   467     191.010         72544
2019-04-01 15:49:00                   330     190.954         52578
2019-04-01 15:50:00                   258     191.065         43050
2019-04-01 15:51:00                   487     191.060         77884
2019-04-01 15:52:00                   319     191.055         49567
2019-04-01 15:53:00                   315     191.080         51643
2019-04-01 15:54:00                   602     191.130        113148
2019-04-01 15:55:00                  1908     191.160        315328
2019-04-01 15:56:00                   732     191.340        121489
2019-04-01 15:57:00                   877     191.310        149206
2019-04-01 15:58:00                   714     191.230        129696
2019-04-01 15:59:00                  2651     191.180        480537

                        notional  numberOfTrades     open  volume
2019-04-01 15:45:00   366711.030              18  191.080    1919
2019-04-01 15:46:00   821322.050              42  191.145    4297
2019-04-01 15:47:00   524468.135              28  191.140    2745
2019-04-01 15:48:00   994562.920              43  191.020    5208
2019-04-01 15:49:00   484218.720              27  190.970    2535
2019-04-01 15:50:00   276260.060              13  191.070    1446
2019-04-01 15:51:00   326508.050              21  191.045    1709
2019-04-01 15:52:00   458598.000              21  191.055    2400
2019-04-01 15:53:00   393481.375              22  191.080    2059
2019-04-01 15:54:00   612156.360              32  191.140    3202
2019-04-01 15:55:00   999305.385              54  191.250    5224
2019-04-01 15:56:00   698873.045              35  191.330    3654
2019-04-01 15:57:00  1484704.150              69  191.310    7762
2019-04-01 15:58:00   639448.610              38  191.230    3344
2019-04-01 15:59:00  1260733.880              71  191.190    6596

### AlphaVantage (HTTP Request)

In [32]:
from urllib.request import urlopen
import json
from pandas.io.json import json_normalize

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=2318.HK&apikey=[yourAPIKey]'
response = urlopen(url)
json_2318 = response.read()

data_2318 = json.loads(json_2318)
df_2318 = pd.DataFrame.from_dict(data_2318['Time Series (Daily)'])
df_2318 = df_2318.T
df_2318.index = pd.to_datetime(df_2318.index)
print(df_2318.head())

            1. open  2. high   3. low 4. close 5. volume
2019-04-18  95.6500  95.6500  94.1000  94.5000  24229379
2019-04-17  94.7500  95.6500  93.7000  94.4500  30245080
2019-04-16  92.5000  95.1000  92.1500  94.7500  35753933
2019-04-15  93.9500  95.2500  92.5500  92.6000  40867262
2019-04-12  91.7000  92.6500  91.3000  92.6500  23123193