In [1]:
import pandas as pd
from datetime import date, datetime

## From IEX Data

In [2]:
from iexfinance.stocks import get_historical_data

startdate = datetime(2015, 1, 1)
enddate = date.today()
iex_aapl = get_historical_data('AAPL', startdate, enddate, output_format='pandas')

iex_aapl.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015-01-02</th>
      <td>103.4410</td>
      <td>103.4874</td>
      <td>99.6893</td>
      <td>101.5280</td>
      <td>53204626</td>
    </tr>
    <tr>
      <th>2015-01-05</th>
      <td>100.5622</td>
      <td>100.8965</td>
      <td>97.8877</td>
      <td>98.6678</td>
      <td>64285491</td>
    </tr>
    <tr>
      <th>2015-01-06</th>
      <td>98.9371</td>
      <td>99.7636</td>
      <td>97.1634</td>
      <td>98.6771</td>
      <td>65797116</td>
    </tr>
    <tr>
      <th>2015-01-07</th>
      <td>99.5500</td>
      <td>100.4786</td>
      <td>99.0810</td>
      <td>100.0607</td>
      <td>40105934</td>
    </tr>
    <tr>
      <th>2015-01-08</th>
      <td>101.4351</td>
      <td>104.1468</td>
      <td>100.9429</td>
      <td>103.9053</td>
      <td>59364547</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
def get_iex_dict(symbol_list, startdate):
    """Get dictionary of dataframes from IEX"""
    dict_list = dict()
    startdate = datetime.strptime(startdate, '%Y-%m-%d')
    for symbol in symbol_list:
        df = get_historical_data(symbol, startdate, date.today(), output_format='pandas')
        dict_list[symbol] = df
    return dict_list

symbol_list = ['AAPL', 'AMZN', 'NFLX', 'INTC', 'SPY', 'QQQ']
iex_dict = get_iex_dict(symbol_list, '2015-01-01')
iex_dict['AMZN'].tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-04-12</th>
      <td>1848.40</td>
      <td>1851.50</td>
      <td>1841.30</td>
      <td>1843.06</td>
      <td>3114413</td>
    </tr>
    <tr>
      <th>2019-04-15</th>
      <td>1842.00</td>
      <td>1846.85</td>
      <td>1818.90</td>
      <td>1844.87</td>
      <td>3724423</td>
    </tr>
    <tr>
      <th>2019-04-16</th>
      <td>1851.35</td>
      <td>1869.77</td>
      <td>1848.00</td>
      <td>1863.04</td>
      <td>3044618</td>
    </tr>
    <tr>
      <th>2019-04-17</th>
      <td>1872.99</td>
      <td>1876.47</td>
      <td>1860.44</td>
      <td>1864.82</td>
      <td>2893517</td>
    </tr>
    <tr>
      <th>2019-04-18</th>
      <td>1868.79</td>
      <td>1870.82</td>
      <td>1859.48</td>
      <td>1861.69</td>
      <td>2749882</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
from iexfinance.stocks import get_historical_intraday

iex_aapl_itd = get_historical_intraday("AAPL", startdate='2019-04-01', enddate='2019-04-18',  output_format='pandas')
print(iex_aapl_itd.tail(15))

                     average  changeOverTime    close      date     high  \
2019-04-18 15:45:00  203.828        0.003056  203.850  20190418  203.855
2019-04-18 15:46:00  203.846        0.003145  203.840  20190418  203.860
2019-04-18 15:47:00  203.848        0.003154  203.880  20190418  203.880
2019-04-18 15:48:00  203.832        0.003076  203.835  20190418  203.890
2019-04-18 15:49:00  203.819        0.003012  203.790  20190418  203.860
2019-04-18 15:50:00  203.826        0.003046  203.880  20190418  203.920
2019-04-18 15:51:00  203.763        0.002736  203.700  20190418  203.870
2019-04-18 15:52:00  203.786        0.002849  203.780  20190418  203.820
2019-04-18 15:53:00  203.801        0.002923  203.710  20190418  203.930
2019-04-18 15:54:00  203.714        0.002495  203.695  20190418  203.760
2019-04-18 15:55:00  203.682        0.002338  203.765  20190418  203.765
2019-04-18 15:56:00  203.789        0.002864  203.870  20190418  203.880
2019-04-18 15:57:00  203.824        0.003036  203.830  20190418  203.850
2019-04-18 15:58:00  203.881        0.003317  203.940  20190418  203.950
2019-04-18 15:59:00  203.922        0.003519  203.880  20190418  203.960

                       label      low  marketAverage  marketChangeOverTime  \
2019-04-18 15:45:00  3:45 PM  203.805        203.833              0.002016
2019-04-18 15:46:00  3:46 PM  203.820        203.842              0.002060
2019-04-18 15:47:00  3:47 PM  203.830        203.851              0.002104
2019-04-18 15:48:00  3:48 PM  203.810        203.834              0.002020
2019-04-18 15:49:00  3:49 PM  203.790        203.825              0.001976
2019-04-18 15:50:00  3:50 PM  203.750        203.837              0.002035
2019-04-18 15:51:00  3:51 PM  203.700        203.773              0.001721
2019-04-18 15:52:00  3:52 PM  203.710        203.779              0.001750
2019-04-18 15:53:00  3:53 PM  203.710        203.799              0.001848
2019-04-18 15:54:00  3:54 PM  203.650        203.692              0.001322
2019-04-18 15:55:00  3:55 PM  203.640        203.691              0.001317
2019-04-18 15:56:00  3:56 PM  203.730        203.808              0.001893
2019-04-18 15:57:00  3:57 PM  203.790        203.834              0.002020
2019-04-18 15:58:00  3:58 PM  203.840        203.882              0.002256
2019-04-18 15:59:00  3:59 PM  203.860        203.901              0.002350

                     marketClose  marketHigh  marketLow  marketNotional  \
2019-04-18 15:45:00      203.840      203.86     203.79    6.938288e+06
2019-04-18 15:46:00      203.835      203.86     203.82    1.062934e+07
2019-04-18 15:47:00      203.851      203.90     203.83    9.374913e+06
2019-04-18 15:48:00      203.840      203.89     203.80    7.993169e+06
2019-04-18 15:49:00      203.780      203.86     203.78    5.663891e+06
2019-04-18 15:50:00      203.880      203.92     203.75    2.202566e+07
2019-04-18 15:51:00      203.700      203.88     203.69    1.946111e+07
2019-04-18 15:52:00      203.760      203.82     203.71    1.114224e+07
2019-04-18 15:53:00      203.710      203.99     203.68    2.905235e+07
2019-04-18 15:54:00      203.700      203.77     203.64    1.999465e+07
2019-04-18 15:55:00      203.760      203.79     203.61    1.180188e+07
2019-04-18 15:56:00      203.870      203.88     203.73    1.472088e+07
2019-04-18 15:57:00      203.835      203.88     203.79    1.437462e+07
2019-04-18 15:58:00      203.945      203.97     203.83    1.423156e+07
2019-04-18 15:59:00      203.860      203.96     203.83    4.076329e+07

                     marketNumberOfTrades  marketOpen  marketVolume  \
2019-04-18 15:45:00                   218     203.800         34039
2019-04-18 15:46:00                   323     203.840         52145
2019-04-18 15:47:00                   264     203.840         45989
2019-04-18 15:48:00                   235     203.855         39214
2019-04-18 15:49:00                   200     203.850         27788
2019-04-18 15:50:00                   509     203.770        108055
2019-04-18 15:51:00                   598     203.880         95504
2019-04-18 15:52:00                   352     203.710         54678
2019-04-18 15:53:00                   919     203.750        142554
2019-04-18 15:54:00                   458     203.710         98161
2019-04-18 15:55:00                   469     203.680         57940
2019-04-18 15:56:00                   417     203.770         72229
2019-04-18 15:57:00                   515     203.870         70521
2019-04-18 15:58:00                   415     203.830         69803
2019-04-18 15:59:00                  1243     203.950        199917

                        notional  numberOfTrades     open  volume
2019-04-18 15:45:00   157559.145               9  203.805     773
2019-04-18 15:46:00   412788.760              20  203.860    2025
2019-04-18 15:47:00   212410.030              12  203.840    1042
2019-04-18 15:48:00   167957.180               8  203.890     824
2019-04-18 15:49:00   183437.500               7  203.850     900
2019-04-18 15:50:00   530965.550              23  203.790    2605
2019-04-18 15:51:00   922845.220              47  203.870    4529
2019-04-18 15:52:00   548998.810              23  203.710    2694
2019-04-18 15:53:00   735516.600              50  203.770    3609
2019-04-18 15:54:00   678163.290              28  203.650    3329
2019-04-18 15:55:00   184128.210              11  203.640     904
2019-04-18 15:56:00   529647.740              21  203.770    2599
2019-04-18 15:57:00   583141.675              30  203.850    2861
2019-04-18 15:58:00   700738.430              31  203.840    3437
2019-04-18 15:59:00  1223738.760              63  203.960    6001

## AlphaVantage (HTTP Request)

In [9]:
from urllib.request import urlopen
import json
from pandas.io.json import json_normalize

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=2318.HK&apikey=[yourAPIKey]'
response = urlopen(url)
json_2318 = response.read()

data_2318 = json.loads(json_2318)
df_2318 = pd.DataFrame.from_dict(data_2318['Time Series (Daily)'])
df_2318 = df_2318.T
df_2318.index = pd.to_datetime(df_2318.index)
print(df_2318.head())

            1. open  2. high   3. low 4. close 5. volume
2019-04-18  95.6500  95.6500  94.1000  94.5000  24229379
2019-04-17  94.7500  95.6500  93.7000  94.4500  30245080
2019-04-16  92.5000  95.1000  92.1500  94.7500  35753933
2019-04-15  93.9500  95.2500  92.5500  92.6000  40867262
2019-04-12  91.7000  92.6500  91.3000  92.6500  23123193

In [11]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=QQQ&interval=5min&apikey=[yourAPIKey]'
response = urlopen(url)
json_qqq = response.read()

data_qqq = json.loads(json_qqq)
df_qqq = pd.DataFrame.from_dict(data_qqq['Time Series (5min)'])
df_qqq = df_qqq.T
df_qqq.index = pd.to_datetime(df_qqq.index)
print(df_qqq.head())

                      1. open   2. high    3. low  4. close 5. volume
2019-04-18 16:00:00  187.2400  187.4100  187.1900  187.3800   1039722
2019-04-18 15:55:00  187.2800  187.3400  187.1700  187.2500   1273252
2019-04-18 15:50:00  187.2600  187.3000  187.2100  187.2800    402529
2019-04-18 15:45:00  187.2800  187.3100  187.2100  187.2600    202288
2019-04-18 15:40:00  187.3700  187.3800  187.2237  187.2779    436000

## Tushare (For Chinese A & B Shares)

### Individual stock EOD data

In [5]:
import tushare as ts

pro = ts.pro_api('api-token')
df_0036 = pro.daily(ts_code='600036.SH', start_date='20140101', end_date='20190418')
print(df_0036.head(10), '\n')
print(df_0036.tail(10))

     ts_code trade_date   open   high    low  close  pre_close  change  \
0  600036.SH   20190418  35.80  35.80  35.13  35.50      35.83   -0.33
1  600036.SH   20190417  35.89  36.48  35.63  35.83      36.00   -0.17
2  600036.SH   20190416  34.70  36.10  34.60  36.00      34.82    1.18
3  600036.SH   20190415  35.42  36.22  34.82  34.82      34.80    0.02
4  600036.SH   20190412  34.86  35.00  34.60  34.80      34.96   -0.16
5  600036.SH   20190411  35.19  35.65  34.72  34.96      35.07   -0.11
6  600036.SH   20190410  35.05  35.43  34.52  35.07      35.23   -0.16
7  600036.SH   20190409  35.90  35.91  35.06  35.23      35.93   -0.70
8  600036.SH   20190408  35.70  36.27  35.65  35.93      35.59    0.34
9  600036.SH   20190404  34.90  36.05  34.90  35.59      34.86    0.73

   pct_chg        vol       amount
0  -0.9210  322740.70  1143221.193
1  -0.4722  494789.82  1778194.094
2   3.3889  840815.16  2991158.275
3   0.0575  924920.92  3299629.416
4  -0.4577  363358.01  1264673.345
5  -0.3137  572516.04  2008064.351
6  -0.4542  674541.17  2358129.547
7  -1.9482  511236.25  1811302.889
8   0.9553  810662.01  2913400.186
9   2.0941  822852.26  2919598.558

        ts_code trade_date   open   high    low  close  pre_close  change  \
1276  600036.SH   20140115  10.72  10.75  10.53  10.59      10.75   -0.16
1277  600036.SH   20140114  10.85  10.92  10.65  10.75      10.88   -0.13
1278  600036.SH   20140113  10.82  10.98  10.73  10.88      10.80    0.08
1279  600036.SH   20140110  10.69  10.82  10.61  10.80      10.70    0.10
1280  600036.SH   20140109  10.61  10.76  10.61  10.70      10.63    0.07
1281  600036.SH   20140108  10.52  10.69  10.46  10.63      10.52    0.11
1282  600036.SH   20140107  10.33  10.54  10.28  10.52      10.46    0.06
1283  600036.SH   20140106  10.50  10.52  10.32  10.46      10.51   -0.05
1284  600036.SH   20140103  10.65  10.68  10.40  10.51      10.73   -0.22
1285  600036.SH   20140102  10.84  10.86  10.67  10.73      10.89   -0.16

      pct_chg        vol      amount
1276    -1.49  355733.95  377633.071
1277    -1.19  448678.87  482287.733
1278     0.74  779716.00  848646.197
1279     0.93  629140.98  676364.232
1280     0.66  482233.79  515210.314
1281     1.05  492937.48  522881.092
1282     0.57  542563.86  566113.066
1283    -0.48  653970.30  680128.042
1284    -2.05  585298.09  615117.102
1285    -1.47  532564.90  571763.446

### Print list of all Shanghai-Connect stocks

In [7]:
pro = ts.pro_api('2856ca4d686325824d126f59b0fe5cac71128847e713af9d6d156671')
df_components = pro.hs_const(hs_type='SH')
print(df_components.head(10), '\n')
print(df_components.tail(10))

     ts_code hs_type   in_date out_date is_new
0  603818.SH      SH  20160613     None      1
1  603108.SH      SH  20161212     None      1
2  600507.SH      SH  20141117     None      1
3  601377.SH      SH  20141117     None      1
4  600309.SH      SH  20141117     None      1
5  600298.SH      SH  20141117     None      1
6  600018.SH      SH  20141117     None      1
7  600483.SH      SH  20151214     None      1
8  600068.SH      SH  20141117     None      1
9  600594.SH      SH  20141117     None      1

       ts_code hs_type   in_date out_date is_new
567  601015.SH      SH  20150615     None      1
568  600557.SH      SH  20141117     None      1
569  603118.SH      SH  20151214     None      1
570  600988.SH      SH  20150615     None      1
571  603306.SH      SH  20150521     None      1
572  601000.SH      SH  20141117     None      1
573  600171.SH      SH  20141117     None      1
574  600422.SH      SH  20141117     None      1
575  601991.SH      SH  20141117     None      1
576  600348.SH      SH  20141117     None      1

### From STOOQ (for Futures & Forex)

In [15]:
import os
import time
from selenium import webdriver
browser = webdriver.Chrome(os.path.join('chromedriver.exe'))

import shutil
download_path = os.path.join(os.path.expanduser('~'), 'Downloads')

def get_stooq_move(symbol_list, download_path, csv_path, type):
    dict_link = {'indices': '', 'futures': '.F', 'forex': ''}
    dict_csv = {'indices': '_d', 'futures': '_f_d', 'forex': '_d'}
    for ticker in symbol_list:
        # Use Selenium Chrome to click to download CSV (urlretrieve NOT working well)
        url = 'https://stooq.com/q/d/?s=' + ticker + dict_link[type]
        browser.get(url)
        link_csv = browser.find_element_by_link_text('Download data in csv file...')
        link_csv.click()
        time.sleep(1)
        # Move the file from download folder to own target folder
        target_file = os.path.join(csv_path, ticker + '_' + date.today().strftime('%Y-%m-%d') + '.csv')
        shutil.move(os.path.join(download_path, ticker.lower() + dict_csv[type] + '.csv'), target_file)
    browser.close()

csv_path = os.path.join(os.path.abspath('csv_STOOQ'))
if not os.path.exists(csv_path):
    os.makedirs(csv_path)

indices_list = ['^HSI', '^SPX', '^DJI', '^DAX', '^NKX']
futures_list = ['ES', 'NQ', 'YM', 'RJ', 'GC', 'CL']
forex_list = ['EURUSD', 'GBPUSD', 'USDJPY', 'USDCAD', 'EURJPY', 'GBPJPY']

get_stooq_move(indices_list, download_path, csv_path, 'indices')
get_stooq_move(futures_list, download_path, csv_path, 'futures')
get_stooq_move(forex_list, download_path, csv_path, 'forex')

In [18]:
df_es = pd.read_csv(os.path.join(csv_path, '^spx_' + date.today().strftime('%Y-%m-%d') + '.csv'), header=0, index_col='Date', parse_dates=True)
df_es.loc['1987-10-19':].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1987-10-19</th>
      <td>282.70</td>
      <td>282.70</td>
      <td>224.83</td>
      <td>224.84</td>
      <td>671444433.0</td>
    </tr>
    <tr>
      <th>1987-10-20</th>
      <td>225.06</td>
      <td>245.62</td>
      <td>216.46</td>
      <td>236.83</td>
      <td>675666679.0</td>
    </tr>
    <tr>
      <th>1987-10-21</th>
      <td>236.83</td>
      <td>259.27</td>
      <td>236.83</td>
      <td>258.38</td>
      <td>499555556.0</td>
    </tr>
    <tr>
      <th>1987-10-22</th>
      <td>258.24</td>
      <td>258.38</td>
      <td>242.99</td>
      <td>248.25</td>
      <td>435777801.0</td>
    </tr>
    <tr>
      <th>1987-10-23</th>
      <td>248.29</td>
      <td>250.70</td>
      <td>242.76</td>
      <td>248.22</td>
      <td>272888889.0</td>
    </tr>
  </tbody>
</table>
</div>